/* Kurdfonts.com Fonts */
@font-face {
  font-family: "Rabar_031";
  src: url("./src/fonts/Rabar_031.eot");
  src: url("./src/fonts/Rabar_031.eot?#iefix") 
  format("embedded-opentype"),
  url("./src/fonts/Rabar_031.ttf")
  format("truetype"), 
  url("./src/fonts/Rabar_031.woff")
  format("woff"); 
  font-weight: normal;
  font-style: normal;
}

/* Best style for Webseite */
:root{
  /* background */
 --bg-color: #F5DF4D;
 --bg-2-color: #fed400;
 --theme-color-wihte: #FFFFFF;
 
 /* text  */
 --color: #2a2a2a;
 --a-color1: #263CE6;
 --a-color2: #989b9f;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Rabar_031' !important;
  letter-spacing: 0px !important;
  color: var(--color)
}

::selection{
  color: var(--bg-color);
  background: var(--color);
}

a {
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  color: var(--a-color1);
  text-decoration: none;
}

a:hover {
  color: var(--a-color2);
}

h2 {
  font-size: 33px;
}

.swal-button {
  background-color: #F5DF4D;
  margin-right: 120px;
  margin-top: 10px;
}

.bestbr {
  padding-top: 2em;
  padding-bottom: 2em;
}

header{
    width: 100vw;
    height: 111vh;
    background-color: var(--bg-color);
    background-position: center center;
    background-attachment: fixed;
}
header .text-box{
    display: block;
    width: 90%;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    text-align: center;
}

.button-100 {
  border: solid 2px #ffffff;
  color: var(--color);
  padding: 9px 20px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}

.button-sta {
  background: var(--bg-2-color);
  color: var(--color);
  padding: 12px 55px;
  border-radius: 50px;
  font-size: 14px;
  cursor: pointer;
}

@-webkit-keyframes logo-bounce  {
  from {
    bottom: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  20% {
    transform: translate3d(0, -60%, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  40% {
    transform: translate3d(0, 35%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  60% {
    transform: translate3d(0, -30%, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  80% {
    transform: translate3d(0, 35%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, 0%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@keyframes logo-bounce {
  from {
    bottom: 0;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  20% {
    transform: translate3d(0, -60%, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  40% {
    transform: translate3d(0, 35%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  60% {
    transform: translate3d(0, -30%, 0);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in; }
  80% {
    transform: translate3d(0, 35%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; }
  100% {
    transform: translate3d(0, 0%, 0);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out; } }

@-webkit-keyframes logo-spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

@keyframes logo-spin {
  from {
    transform: rotate(0); }
  to {
    transform: rotate(360deg); } }

@-webkit-keyframes logo-slide {
  from {
    visibility: visible;
    transform: translate3d(-100%, 0, 0); }
  to {
    visibility: visible;
    transform: translate3d(0%, 0, 0); } }

@keyframes logo-slide {
  from {
    visibility: visible;
    transform: translate3d(-100%, 0, 0); }
  to {
    visibility: visible;
    transform: translate3d(0%, 0, 0); } }

#logo-bouncer {
  display: inline-block;
  -webkit-animation-name: logo-bounce;
          animation-name: logo-bounce;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#logo-spinner {
  -webkit-animation-name: logo-spin;
          animation-name: logo-spin;
  -webkit-animation-duration: 1.25s;
          animation-duration: 1.25s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; 
}

  #logo-spinner svg {
    width: 5em;
  }

#logo-slider {
  visibility: hidden;
  margin-top: 10%;
  -webkit-animation-name: logo-slide;
          animation-name: logo-slide;
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes logo-animation-end-popup {
  to {
    visibility: visible; } }

@keyframes logo-animation-end-popup {
  to {
    visibility: visible; } }

.hair {
  visibility: hidden;
  -webkit-animation-name: logo-animation-end-popup;
          animation-name: logo-animation-end-popup;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

#logo-track {
  display: inline-block;
  visibility: hidden;
  max-width: 40rem;
  -webkit-animation-name: logo-animation-end-popup;
          animation-name: logo-animation-end-popup;
  -webkit-animation-duration: .1s;
          animation-duration: .1s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 4.5s;
          animation-delay: 4.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }
  #logo-track img {
    height: 5em; }
    @media all and (max-width: 768px) {
      #logo-track img {
        width: 17rem; } }

#logo-text {
  width: 28em;
  max-width: 95%;
}

#texth4 {
  font-style: 12px
}

#head-wrapper {
  position: relative;
  text-align: center;
  padding: 0 20px;
  float: left;
  background-size: cover;
  background: var(--theme-color);
  background-position: 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  width: 100%;
  height: 280px;
  margin:0 auto;
}

.course-head {
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  z-index: 5;
}

.course-sub-head {
  padding: 0 10px;
  max-width: 970px;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
  text-align: center;
  margin:0
}

.post-header {
  position:relative;
}

#head-wrapper svg.wave{position:absolute;bottom:-1px;left:0;overflow:hidden;vertical-align:middle}.avv{fill:none}.bvv{clip-path:url(#a)}.cvv,.dvv{fill:#f7f9f8}.cvve,.dvve{fill:#fff}.dvv,.dvve{opacity:0.5;isolation:isolate}#head-wrapper svg.wavee{position:absolute;top:-1px;left:0;overflow:hidden;vertical-align:middle;transform:rotate(180deg)}.button-home a span.but{background:transparent;color:#fff;font-size:14px;font-weight:500;border-radius:99em;padding:10px 22px;display:inline-block;text-align:center;position:relative;margin:25px auto 0 auto;overflow:hidden;border:2px solid #fff;outline:none;transition:all .1s}.button-home a span.but:hover{background:#fff;color:#222;border-color:#fff;box-shadow:0 2px 6px -2px rgba(0,0,0,0.15)}.Night .button-home a span.but{border:2px solid rgba(255,255,255,.15)}.Night .button-home a span.but:hover{background:#007bff;color:#fff;border-color:#007bff}.Night #head-wrapper{background:#263545}.Night .cvv,.Night .dvv,.Night .cvve,.Night .dvve{fill:#1c2733}.containerghost{position:absolute;right:5%;top:40%;margin-top:-85.5px;opacity:.7;animation:bounceInRight 3.5s}.ghost{animation:float 3s ease-out infinite}.shadowFrame{width:130px;margin-top:15px}.shadow{animation:shrink 3s ease-out infinite;transform-origin:center center}.shadow ellipse{transform-origin:center center}

.elementor-shape-rounded .elementor-icon.elementor-social-icon{-webkit-border-radius:10%;border-radius:10%}
.animated{-webkit-animation-duration:1.25s;animation-duration:1.25s}.animated.animated-slow{-webkit-animation-duration:2s;animation-duration:2s}.animated.animated-fast{-webkit-animation-duration:.75s;animation-duration:.75s}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}
.animated.reverse{animation-direction:reverse}@media (prefers-reduced-motion:reduce){.animated{-webkit-animation:none;animation:none}}
.elementor-shape{overflow:hidden;position:absolute;left:0;width:100%;line-height:0;direction:ltr}
.elementor-shape-top{top:-1px}
.elementor-shape-bottom{bottom:-1px}
.elementor-shape[data-negative=false]
.elementor-shape-bottom{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.elementor-shape[data-negative=true]
.elementor-shape-top{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.elementor-shape svg{display:block;width:-webkit-calc(100% + 1.3px);width:calc(100% + 1.3px);position:relative;left:50%;-webkit-transform:translateX(-50%);-ms-transform:translateX(-50%);transform:translateX(-50%)}
.elementor-shape .elementor-shape-fill{fill:#fafafc;-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center;-webkit-transform:rotateY(0deg);transform:rotateY(0deg)}
.elementor-shape-bottom svg{height:50px}
.elementor-shape[data-negative="false"].elementor-shape-bottom{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.elementor-shape-bottom{bottom:-1px}
.elementor-shape{overflow:hidden;position:absolute;left:0;width:100%;line-height:0;direction:ltr}
.elementor *,.elementor:after,.elementor:before{-webkit-box-sizing:border-box;box-sizing:border-box}
.Night .elementor-shape .elementor-shape-fill{fill:#1c2733;-webkit-transform-origin:center;-ms-transform-origin:center;transform-origin:center;-webkit-transform:rotateY(0deg);transform:rotateY(0deg)}
@media screen and (max-width:800px) {.elementor-shape .elementor-shape-fill{fill:#fff}}
@media screen and (max-width:768px) {.head-text h3{font-size:1.7rem}.blanter-shape .blanter-shape-fill{fill:#fff}}
.elementor-shape-circle .elementor-icon{-webkit-border-radius:50%;border-radius:50%}
.elementor-shape-circle .elementor-icon
.elementor-social-icon{
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

main {
  text-align: center;
}

.box {
  background-color: #F6F6F6;
  box-shadow:0 0px 1px #000;
  -moz-border-radius:12px;
  -webkit-border-radius:12px;
  -khtml-border-radius:12px;
  border-radius:12px;
  padding:20px 23px;
  display:inline-block;
  border:none;
  font-size:17px;
  font-weight:600;
  cursor:pointer;
  transition:all .3s
}

.myblasksvg {
  padding-bottom: -20em;
}

.divofwebsite4 {
  background-color:#F4F6F6;
}

.pageFeatured {
  list-style: none;
  margin: 33px 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pageFeatured li {
  width: 33.333%;
  padding: 0 45px;
  margin-bottom: 60px;
  text-align:center;
}

.pageFeatured svg {
  width: 50px;
  height: 50px;
  fill: var(--color);
}

.pageFeatured .text {
  margin-top: 15px;
}

.pageFeatured .texthh {
  margin-top: 5px;
}

.pageFeatured .text h3 {
  
}

.pageFeatured h3 {
  font-size: 26px;
  line-height: 0em;
  text-shadow: 0 0 10px rgba(0,0,0,0.1);
}

@media screen and (max-width:1100px){
  
  .page-1 .pageInner {
    width:55%
  }
  
}

@media screen and (max-width:896px) {
  
  .page-1 .sectionInner {
    flex-direction: row;
  }
  
  .page-1 .pageInner, .page-1 .pageImage {
    width: 100%;
  }
  
  .page-1 .pageImage {
    display: none;
  }
  
}

@media screen and (max-width:640px) {
  
  .productItem.bestSeller, .pageProduct.style-2,.page-3 .sectionInner, .page-5 .productItem {
  display:block;
  }
  
  .productItem.bestSeller > *, .pageProduct.style-2 > *, .page-3 .pageInner, .page-5 .productItem > * {
    width: 100%;
    margin-right: 0;
  }
  
  .productItem.bestSeller .productContent {
    padding:0;
  }
  
  .page-5 .productItem .pageButton {
    text-align: left;
    margin-top: 15px;
  }
  .pageFeatured li {
    width: 50%;
    padding: 0 20px;
  }
  
}

@media screen and (max-width:640px) {
  
  .pageFeatured li{
    width:100%;
  }
  
  .productItem {
    padding: 25px 25px 20px;
  }
  
}
.imgpost {
  border-radius: 8px;
  width: 230px;
  height: 125px
}

.line-hack{
  position: relative;
  margin-top: 3em;
  padding-top: 3em;
  color: #666;
  font-size: 1.75em;
  text-align: center;
  text-transform: uppercase; }
 .line-hack::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 43.75rem;
  height: .25em;
  margin-top: -2em;
  margin-left: -21.875rem;
  border-radius: .125em;
  background-color: #F5DF4D; }
  @media all and (max-width: 768px) {
 .line-hack::before {
  right: 1.25em;
  left: 1.25em;
  width: auto;
  margin-left: 0; 
  }
}

#fancy-shape {clear:both;max-width:100%;display:block;position:relative;margin:9% auto 0;justify-content: center;z-index: 2;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}#bf-fancy-icon{position:absolute;margin:0 auto;width:100%;display:block;bottom:calc(100% - 25px);}
.footer-fancy-shape {clear:both;overflow: hidden;position: absolute;left: 0;bottom:100%;width: 100%;margin-bottom:-2px;direction: ltr;}.footer-fancy-shape[data-negative=false].footer-fancy-shape-bottom, .footer-fancy-shape[data-negative=true].footer-fancy-shape-top {-webkit-transform: rotate(180deg);-ms-transform: rotate(180deg);transform: rotate(180deg);}.footer-fancy-shape svg {z-index:-1;display: block;position: relative;left: 50%;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}svg:not(:root) {overflow: hidden;}.footer-fancy-shape .footer-fancy-shape-fill {fill:#F5DF4D;width: calc(100% + 2.5px);-webkit-transform-origin: center;-ms-transform-origin: center;transform-origin: center;-webkit-transform: rotateY(0deg);transform: rotateY(0deg);}.footer-fancy-shape-bottom svg {width: calc(130% + 2.5px);height: 125px;}
.footer-fancy-shape-bottom svg {height: 105px;}@media screen and (max-width: 768px) {#bf-fancy-icon {bottom:calc(100% - 35px)}.footer-
.footer-fancy-shape-bottom svg {height: 85px;}}
@media screen and (max-width: 684px) {#fancy-shape {margin:8% auto 0;}}@media screen and (max-width: 480px) {#fancy-shape {margin:8% auto 0;}#bf-fancy-icon {bottom:calc(100% - 40px)}.footer-fancy-shape-bottom svg {height: 55px;}}


.footer-dark {
  padding: 50px 0;
  color: var(--color);
  background-color: var(--bg-color);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}
@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}
.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social>a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  /*color: var(--color);*/
  opacity: 0.75;
}

.footer-dark .item.social>a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  font-family: 'Rabar_031';
  text-align: center;
  padding-top: 24px;
  opacity: 5;
  font-size: 13px;
  margin-bottom: 0;
}

.fixtemplatesdemo{
  position: fixed;
  right: 10px;
  bottom: 88px;
  background-color: var(--theme-color-wihte);
  padding: 12px 15px 12px 12px;
  border-radius: 15px;
  box-shadow: 0 4px 12px 0 rgba(9,32,76,.05);
  display: flex;
  align-items: center;
  max-width: 300px;
  min-width: 260px;
  color: var(--color);
  overflow:hidden;z-index: 50;
}

.fixtemplatesdemo.dis-30:after {
  content: '25$';
  font-weight: 700;
  font-size: 15px;
  display: flex;
  align-items: right;
  justify-content: center;
  width: 50px;
  height: 20px;
  padding-right: 10px;
  background-color: var(--bg-color);
  border-radius: 0 80px 0 0;
  color: #505050;
  position: absolute;
  bottom: 0;
  right: 250px;
}

.fixtemplatesdemo .fixtemplatesdemo-close {
  position: absolute;
  top: 8px;
  right: 266px;
}

.fixtemplatesdemo .fixtemplatesdemo-close svg {
  width: 22px;
  height: 22px;
}

.fixtemplatesdemo .fixtemplatesdemo-img {
  width: 60px;
  height: 60px;
}

.fixtemplatesdemo .fixtemplatesdemo-img a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: var(--bg-color);
  border-radius: 8px;
  color: inherit;
  font-weight: 700;
  font-size: 28px;
}

.fixtemplatesdemo .fixtemplatesdemo-content {
  width: calc(100% - 60px);
  padding-right: 15px;
  text-align: right;
}

.fixtemplatesdemo .fixtemplatesdemo-content a {
  display:block;
  color: inherit
}

.fixtemplatesdemo .fixtemplatesdemo-content a .title {
  display: block;
  font-weight: 700;
  font-size: 18px;
}

.fixtemplatesdemo .fixtemplatesdemo-content a .desc {
  display: block;
  font-size: 11px;
  margin-top: 0.5px;
  color: var(--color);
}
