body {
    background-color: #f8efd2
}
.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    box-shadow: 0px 0px 8px 6px rgba(100, 100, 100, 0.1);
    border-radius: 10px;
}
.card {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 8px 4px rgba(100, 100, 100, 0.1);
    display: flex;
    margin: 10px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid transparent;
    transition: border 0.2s;
}
input {
    display: none;
}
input:checked[type="radio"] + .card {
    border: 2px solid #367af5;
}

.hr {
    width: 100%;
    height: 1px;
    background: #e4e4e4;
    margin: 10px 10px 5px 10px;
}
.title {
    margin: 10px 10px 0px 10px;
    font-size: 20px;
    font-weight: bold;
}
.cardTitle {
    font-weight: bold;
    font-size: 17px;
    color: #030303;
}
.altText {
    color: #7f7f7f;
}
.go {
    margin: 10px;
    background: #367af5;
    display: flex;
    width: 100%;
    padding: 10px;
    color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}
.go i {
    font-size: 18px;
}
