/* Follow btn */ 
.najiri-demo{ margin: 10px auto; text-align: center; text-decoration: none; cursor:pointer!important; overflow:hidden; text-decoration:none; display:inline-block; -webkit-appearance:none; font-size:1em; border-radius:4px; color: #fff; font-weight:300;padding:5px 20px 20px 20px; margin:0 15px; box-shadow:0 2px 2px 1px rgba(0,0,0,0.1);transition:all 0.3s; background:#232323; }
.najiri-demo:hover{ box-shadow:0 14px 28px rgba(0,0,0,0.25),0 10px 10px rgba(0,0,0,0.22); position:relative;overflow:hidden;-webkit-transform:translatez(0)}

/* qp */
